<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="hs_modbusTCP_writer14185" id="14185" name="hs_modbusTCP_writer" sinternal_name="hs_modbusTCP_writer" external_name="ModbusTCP Writer (14185)" version="0.6.3">
            <inputs>
                <input type="string" const_name="modbus_slave_ip" init_value="127.0.0.1">IP of modbus server</input>
                <input type="number" const_name="port" init_value="502">Modbus TCP Port (default: 502)</input>
                <input type="number" const_name="slave-id" init_value="1">Modbus slave id</input>
                <input type="number" const_name="keep_alive" init_value="1">Keep the connection alive: 1=On, 0=Off</input>
                <input type="number" const_name="modbus_wordorder" init_value="0">Word order: 0: LittleEndian (Modbus default); 1: BigEndian</input>
                <input type="number" const_name="modbus_byteorder" init_value="1">Byte order: 0: LittleEndian; 1: BigEndian (Modbus default)</input>
                <!-- 1. register -->
                <input type="number" const_name="R1_address" init_value="-1">Reg1: register address in dec (-1: disabled)</input>
                <input type="string" const_name="R1_datatype" init_value="uint16">Reg1: Data type of register</input>
                <input type="number" const_name="R1_num_value" init_value="0">Reg1: number value to write (for numeric data types)</input>
                <input type="string" const_name="R1_str_value" init_value="">Reg1: string value to write (for string data type)</input>
                <!-- 2. register -->
                <input type="number" const_name="R2_address" init_value="-1">Reg2: register address in dec (-1: disabled)</input>
                <input type="string" const_name="R2_datatype" init_value="uint16">Reg2: Data type of register</input>
                <input type="number" const_name="R2_num_value" init_value="0">Reg2: number value to write (for numeric data types)</input>
                <input type="string" const_name="R2_str_value" init_value="">Reg2: string value to write (for string data type)</input>
                <!-- 3. register -->
                <input type="number" const_name="R3_address" init_value="-1">Reg3: register address in dec (-1: disabled)</input>
                <input type="string" const_name="R3_datatype" init_value="uint16">Reg3: Data type of register</input>
                <input type="number" const_name="R3_num_value" init_value="0">Reg3: number value to write (for numeric data types)</input>
                <input type="string" const_name="R3_str_value" init_value="">Reg3: string value to write (for string data type)</input>
                <!-- 4. register -->
                <input type="number" const_name="R4_address" init_value="-1">Reg4: register address in dec (-1: disabled)</input>
                <input type="string" const_name="R4_datatype" init_value="uint16">Reg4: Data type of register</input>
                <input type="number" const_name="R4_num_value" init_value="0">Reg4: number value to write (for numeric data types)</input>
                <input type="string" const_name="R4_str_value" init_value="">Reg4: string value to write (for string data type)</input>
            </inputs>
            <outputs>
                <output type="number" const_name="write_count" init_value="0">Write_counter</output>
            </outputs>
           <remanent_variables>
            </remanent_variables>
            <imports>
                <import>hsl20_3_timer</import>
                <import>lib/pymodbus</import>
            </imports>
        </module>
    </modules>
    <logging type="None" ip="" port="" />
</config>
